.chatScreen_message{
    display: flex;
    align-items: center;
    align-self: end;
    height: fit-content;
    max-width: 600px;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 20px;
}

.chatScreen_message_rec{
    display: flex;
    align-items: center;
    align-self: start;
    height: fit-content;
    max-width: 600px;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 20px;
}

.chatScreen_text{
    margin-left: 0;
    background-color: rgba(100, 100, 100, 0.9);
    font-size: 20px;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen_timestamp{
    text-align: center;
    padding: 20px;
    color: grey;
}

.chatScreen_textUser{
    margin-left: auto;
    background-color: rgba(243, 101, 36, 0.9);
    font-size: 20px;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

.chatScreen_input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    height: 54px;
    width: 55%;
    border-top: 1px solid lightgrey;
}

.chatScreen_inputField{
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
}

.chatScreen_inputButton{
    border: none;
    margin-right: auto;
    background-color: white;
    font-weight: bolder;
    color: #f36424;
}
