.root {
  display: flex;
  background: url("../../images/fondo2.jpg");
}

.toolbar {
  padding-right: 24px; // keep right padding when drawer closed
  background-color: #f36424;
}
.toolbarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  //...theme.mixins.toolbar,

  .item-icon {
    display: flex;
    align-self: end;
    text-align: center;
    color: #f36424;
    scale: 125%;
  }
}

.icon {
  display: flex;
  align-self: end;
  text-align: center;
  color: white;
  scale: 125%;

  label {
    font-size: 20px;
  }
  //.iconText {
  //
  //}
}

.appBar {
  z-index: 1
  //transition: theme.transitions.create(['width', 'margin'], {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.leavingScreen,
  //}),
}

.appBarShift {
  margin-left: 100px;
  width: 100% - drawerWidth;
  //transition: theme.transitions.create(['width', 'margin'], {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.enteringScreen,
  //}),
}

.menuButton {
  margin-left: 12px;
  margin-right: 36px;
}
.menuButtonHidden {
  display: none;
}

.title {
  flex: 1;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;

}

.drawerPaper {
  position: relative;
  width: drawerWidth + 1%;

  transition: all;

  //        themtransitions.create('width', {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.enteringScreen,
  //}),
}

.drawerPaperClose {
  overflow-x: hidden;

  //transition: theme.transitions.create('width', {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.leavingScreen,
  //}),
  width: 100%;
  //[theme.breakpoints.up('sm')]: {
  //width: 100%;
}

//.appBarSpacer: theme.mixins.toolbar,

.init-content {
  flex-grow: 1;
  padding: 30px;
  height: 100vh;
  overflow: auto;
  justify-content: center;

  .card-container {
    display: flex;
    justify-content: center;

    .arrow {
      justify-content: center;
      color: #f36424;
      scale: 300%;
      margin-top: 250px;
      size: auto;
      background-color: white;
      border-radius: 15px;
      transition: all 250ms ease-in-out;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        background-color: rgba(243, 101, 36, 0.3);
      }
      &:focus {
        outline: none;
      }

    }

  }
}

.chartContainer {
  margin-left: 22px;


}

.tableContainer {
  height: 320px;
}
.h5 {
  margin-bottom: 50px;
}

.cont {
  justify-content: center;
  align-items: center;

  .btnCont {
    justify-content: center;
    align-items: center;

    .like {
      justify-content: center;
      align-items: center;
      color: #f36424;
      scale: 200%;
      margin-bottom: 10px;
      margin-right: 120px;
    }

    .dislike {
      justify-content: center;
      align-items: center;
      color: #737373;
      scale: 200%;
      margin-bottom: 10px;
      margin-left: 120px;
    }

  }
}

.toolbar2 {
  padding-right: 24px; // keep right padding when drawer closed
  //background-color: #757575;
}

.btn3 {
  size: auto;
  font-size: 200px;
  padding: 5px 20px;
  background-color: #f36424;
  color: white;
  border-radius: 30px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;

  .item-icon {
    display: flex;
    align-self: end;
    color: white;
    scale: 125%;
  }

  .item-text {
    display: flex;
    align-self: start;
    color: white;
    font-size: 1px;

  }

  &:hover {
    background-color: rgba(243, 101, 36, 0.3);
  }
  &:focus {
    outline: none;
  }
}

.card {



}
