.root {
  display: flex;
  background: url("../../images/fondo2.jpg");
}

.toolbar {
  padding-right: 24px; // keep right padding when drawer closed
  background-color: #f36424;
}
.toolbarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  //...theme.mixins.toolbar,
}

.icon {
  display: flex;
  align-self: end;
  text-align: center;
  label {
    font-size: 20px;
  }
  //.iconText {
  //
  //}
}

.appBar {
  z-index: 1
  //transition: theme.transitions.create(['width', 'margin'], {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.leavingScreen,
  //}),
}

.appBarShift {
  margin-left: 100px;
  width: 100% - drawerWidth;
  //transition: theme.transitions.create(['width', 'margin'], {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.enteringScreen,
  //}),
}

.menuButton {
  margin-left: 12px;
  margin-right: 36px;
}
.menuButtonHidden {
  display: none;
}

.title {
  flex: 1;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;

}

.drawerPaper {
  position: relative;
  width: drawerWidth + 1%;

  //transition: theme.transitions.create('width', {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.enteringScreen,
  //}),
}

.drawerPaperClose {
  overflow-x: hidden;

  //transition: theme.transitions.create('width', {
  //easing: theme.transitions.easing.sharp,
  //duration: theme.transitions.duration.leavingScreen,
  //}),
  width: 100%;
  //[theme.breakpoints.up('sm')]: {
  //width: 100%;
}

//.appBarSpacer: theme.mixins.toolbar,

.init-content {
  flex-grow: 1;
  padding: 30px;
  height: 100vh;
  overflow: auto;
}

.chartContainer {
  margin-left: 22px;


}

.tableContainer {
  height: 320px;
}
.h5 {
  margin-bottom: 50px;
}


//.base-container {
//  width: 100%;
//  display: block;
//  flex-direction: column;
//
//
//
//  .header {
//    font-size: 24px;
//    font-family: "Open Sans", sans-serif;
//  }
//
//  .image {
//    width: 20em;
//    margin-left: auto;
//    margin-right: auto;
//    img {
//      width: 50%;
//      height: 50%;
//      border-radius: 50%;
//    }
//  }
//
//  .content {
//    display: flex;
//    flex-direction: column;
//
//    .form {
//      margin-top: 2em;
//      margin-bottom: -2em;
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//
//      .form-group {
//        margin-bottom: -1em;
//        display: flex;
//        flex-direction: column;
//        align-items: flex-start;
//        width: fit-content;
//        label {
//          font-size: 20px;
//        }
//        input {
//          margin-top: 6px;
//          min-width: 18em;
//          height: 37px;
//          padding: 0px 10px;
//          font-size: 16px;
//          font-family: "Open Sans", sans-serif;
//          background-color: #f3f3f3;
//          border: 0;
//          border-radius: 4px;
//          margin-bottom: 31px;
//          transition: all 250ms ease-in-out;
//          &:hover {
//            //background-color: #ffffff;
//            //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
//          }
//
//          &:focus {
//            outline: none;
//            box-shadow: 0px 0px 12px 0.8px #f36424;
//          }
//        }
//      }
//    }
//  }
//
//  .footer {
//    margin-top: 3em;
//  }
//}